header {
    height: 70px;
    background-color: rgb(4, 4, 172);
    display: flex;
}

.header_nav {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

header ul,
header h1 {
    display: flex;
    margin-left: 40px;
    color: white;
}

header h1 {
    font-size: 30px;
}

header ul li {
    margin-left: 20px;
}

header ul li a:link {
    text-decoration: none;
}

header ul li a:visited {
    color: white;
}

header ul li a:hover {
    text-decoration: underline;
}

.main {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-width: 380px;
}

.main img {
    height: 200px;
    width: 150px;
    margin: 15px;
}

@media (max-width: 700px) {
    header ul {
        display: none;
    }

    header h1 {
        margin: 0 auto;
    }
}